
*.sqlite3
*.pyc
ecomxshop/settings/pro.py
*.pdf
product/migrations/0003_auto_20180628_0756.py
product/migrations/0002_auto_20180628_0710.py
product/migrations/0001_initial.py
.vscode/settings.json
commoncode/migrations/0001_initial.py
commoncode/migrations/.DS_Store
.DS_Store
order/migrations/0001_initial.py
product/migrations/0004_auto_20180630_0154.py
product/migrations/0004_auto_20180630_0154.py
product/migrations/0004_auto_20180630_0154.py
